<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>500 Error</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">

</head>
<body class="hold-transition lockscreen">
<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <a href="/" class="h1"><b>Dash</b>WEB</a>
    </div>
 
    <div class="help-block text-center">
        <h2 class="headline text-danger">500</h2>
        <h3><i class="fas fa-exclamation-triangle text-danger"></i>Oops! Something went wrong.</h3>
        <p>We will work on fixing that right away.</p>
        <p><a href="/">Return to dashboard</a></p>
    </div>
</div>
</body>
</html>
